@import "../default/color.scss";
@import "~bootstrap/scss/bootstrap";

.addPage__container {
    padding: 20px 0;
    background-color: $defaultBacgroundColor;

    .formContainer {
      
       
        .formContainer__body{
          
            .form__inputContainer {
                border-radius: 8px;
                border: 1px solid $defaultBorderColor;            
                margin: 15px 0;
                height: 40px;
                padding-left: 10px;
            }
            .form__inputContainerTextArea{
                border-radius: 8px;
                border: 1px solid $defaultBorderColor;            
                margin: 15px 0;
                padding-left: 10px;
            }
        }
       
    }
}

@media (max-width: 768px) {
    .formContainer {
        padding: 2% 10% !important;
    }
  }